---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


{% include base_path %}
<p align = "justify"> 
<h2>Tutorials</h2>
  <ul>
    <li>Federated Analytics: A New Collaborative Computing Paradigm towards Privacy Focusing World</li>
    <ul>
      <li>The 17th International Conference on Mobility, Sensing and Networking (MSN 2021), Virtual Event</li>
      <li>Tutorial slides: <a href="">[PDF]</a></li>
    </ul>
  </ul>

<h2>Conference Presentations</h2>
  <ul>
    <li>Distributionally robust federated learning for differentially private data</li>
    <ul>
      <li>The 42nd IEEE International Conference on Distributed Computing Systems (ICDCS 2022), Bologna, Italy</li>
      <li>Presentation slides: <a href="">[PDF]</a></li>
    </ul>
  </ul>
